 <div class="user-details">
  <h1> My Skills </h1>
   <div class="images-center">
    <img alt="skills" src="{{ "/assets/img/skills.jpg" | prepend: site.baseurl }}" />
   </div>
  <p> Ethical Hacking, Information Security, Cyber Security, Cyber Law, Digital Forensics, IDS, Cryptography, Machine Learning, Keras, Cloud Technology, 
   Amazon Web Services, Database Management, Operating System, Virtualisation, Networking, ITIL, Microsoft Azure,  Data Centre Fundamentals, 
   Object Oriented Programming, Data Structures.</p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Code</h2>
      <!--<i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i> -->
      <p>Python, C, C++, TensorFlow, Django, Jawa Swing Java, Javascript, Shell Script, HTML5, CSS, PHP</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <!-- <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i> -->
      <p>Wireshark, MaltegoCE, Metasploit, Cewl, Hping3, Nmap, Cicso-Global-Exploiter, 
       Airmon-ng, Aircrack-ng, Airodump-ng, Aireplay-ng, Volatility, DumpIt, WinHex </p>
     </div>
    <div class="tech">
      <h2>Other</h2>
      <!--<i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i> -->
      <p>Git, Netbeans, Pycharm, Eclipse, IntelliJ, OSForensics, FTKimager, Mobile Edit Forensics Toolkit, Burp-Suite</p>
    </div>
</div>
