<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="IDS" src="{{ "/assets/img/IDS.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Anomaly Based IDS for Portmap Attack </h3>
    <ul>
      <li> IDS, Keras, Machine Learning</li>
    </ul>
    <p>Increased accuracy of IDS by training an open-source dataset using sequential model to attain higher accuracy for Portmap attack</p>
   <!-- <a class="project-link" href="#">Check it out</a> -->
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="face" src="{{ "/assets/img/face.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Face Recognition and Modification using DNN </h3>
    <ul>
      <li> CNN, Tensorflow, Keras, Filter Algorithms </li>
    </ul>
    <p>Created model for Facial Recognition using CNN Layers and implemented various face filters</p>
   <!-- <a class="project-link" href="#">Check it out</a> -->
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Vulnerability Testing using Ethical Hacking </h3>
    <ul>
      <li> nmap, Wireshark, CVE Database </li>
    </ul>
    <p>Found vulnerabilities in a test server and also traced the packages from the test server using Wireshark</p>
   <!-- <a class="project-link" href="#">Check it out</a> -->
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Malware Creation and treatment </h3>
    <ul>
      <li> C, Bash </li>
    </ul>
    <p> Created and treated multiple virus, worms, trojans using Command Line in Windows and Linux and also using process explorer </p>
   <!-- <a class="project-link" href="#">Check it out</a> -->
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Accessed protected Wi-Fi </h3>
    <ul>
      <li> brute-forcing, Airmon-ng, Aircrack-ng, Aireplay-ng, creating word dictionary </li>
    </ul>
    <p>Accessed a protected Wi-Fi using Airmon-ng, Aircrack-ng, Aireplay-ng and also created a word dictionary for the attack.</p>
   <!-- <a class="project-link" href="#">Check it out</a> -->
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Student Management project </h3>
    <ul>
      <li>Java, Java Swing, MySQL </li>
    </ul>
    <p>Created a user-friendly software to manage student records using Java Swing and MySQL in NetBeans IDE</p>
   <!-- <a class="project-link" href="#">Check it out</a> -->
  </div>
</div>


<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Social Cause: Website Creation and Hosting </h3>
    <ul>
      <li> PHP, HTML, CSS, JavaScript, MySQL </li>
    </ul>
    <p>Created a website for keeping track of garbage in the city to help clean the city</p>
   <!-- <a class="project-link" href="#">Check it out</a> -->
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Penetration testing </h3>
    <ul>
      <li>Burp-suite, Intercepting packages </li>
    </ul>
    <p> Tested web application using Burp-Suite </p>
   <!-- <a class="project-link" href="#">Check it out</a> -->
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Blood Donation Record File project </h3>
    <ul>
      <li> C++, File Handling </li>
    </ul>
    <p>Created a blood donation record file for storing records easily using C++ and file handling.</p>
   <!-- <a class="project-link" href="#">Check it out</a> -->
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Word Dictionary </h3>
    <ul>
      <li>C, Data Structure </li>
    </ul>
    <p> Created a word dictionary to insert word and meaning of word and store record using C and Data Structure. Searching of the words is done using quick sort </p>
   <!-- <a class="project-link" href="#">Check it out</a> -->
  </div>
</div>
