<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Anomaly Based IDS for Portmap Attack </h3>
    <ul>
      <li> IDS, Keras, Machine Learning</li>
    </ul>
    <p>Increased accuracy of IDS by training an open-source dataset using sequential model to attain higher accuracy for Portmap attack</p>
   <!-- <a class="project-link" href="#">Check it out</a> -->
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Face Recognition and Modification using DNN </h3>
    <ul>
      <li> CNN, Tensorflow, Keras, Filter Algorithms </li>
    </ul>
    <p>Created model for Facial Recognition using CNN Layers and implemented various face filters</p>
   <!-- <a class="project-link" href="#">Check it out</a> -->
  </div>
</div>

</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Anomaly Based IDS for Portmap Attack </h3>
    <ul>
      <li> IDS, Keras, Machine Learning</li>
    </ul>
    <p>Increased accuracy of IDS by training an open-source dataset using sequential model to attain higher accuracy for Portmap attack</p>
   <!-- <a class="project-link" href="#">Check it out</a> -->
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Face Recognition and Modification using DNN </h3>
    <ul>
      <li> CNN, Tensorflow, Keras, Filter Algorithms </li>
    </ul>
    <p>Created model for Facial Recognition using CNN Layers and implemented various face filters</p>
   <!-- <a class="project-link" href="#">Check it out</a> -->
  </div>
</div>
